body{
    display: flex;
    flex-direction: column;
    background-image: url(./IMG/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.Login {
    background-color: cadetblue;
    border-radius: 25px;
    padding: 10px;
    width: 30%;

}
h1{
    color: aliceblue;
}
