body{
    display: flex;
    flex-direction: column;
    background-image: url(./IMG/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

button{
    float: right;
}

.Login{
    max-width: 400px;
    background-color: cadetblue;
    border-radius: 20px;
    padding: 10px;
}

h1{
    color: aliceblue;
}
